.footer {
    display: flex;
    position: relative;
    color: #545454;
    width: 100%;
    padding: 67px 0;
    max-width: 880px;
    margin: 0 auto;
}

.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

@media screen and  (max-width: 1440px) {
    .footer__copyright {
            width: 100%;
    }
}

    @media screen and (max-width: 879px) {
        .footer {
            max-width: 590px;
        }
    }

    @media screen and (max-width: 594px) {
        .footer {
                padding: 0;
                max-width: 282px;
                margin: 48px auto 36px;
            }
    
        .footer__copyright {
            font-size: 14px;
            }   
    }

    @media screen and (max-width: 320px) {
        .footer__copyright {
            margin-bottom: 0;
        }
    }