.footer {
    display: flex;
    color: #545454;
    padding: 67px 0;
    max-width: 880px;
    margin: 0 auto;
}

.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

    @media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        max-width: 282px;
        width: 100%;
        justify-self: center;
        margin: 0;
}
    }

    @media screen and (max-width: 900px) {
        .footer__copyright {
            margin: 0;
            max-width: calc(100% - 40px);
        }
    }

    @media screen and  {min-width: 1200;
        .footer__copyright {
            margin: 0;

        }
    }